@CHARSET "UTF-8";

.toolbar {
	padding-left: 1.6rem; padding-right: 1.6rem; height: 40px;
	line-height: 40px;
}

.searchbar {
	padding-left: 1.6rem; padding-right: 1.6rem;
}

.toolbutton {
	height: 40px; line-height: 40px; display: block;
}