@CHARSET "UTF-8";
/** 会话遮罩层，遮住body标签，即使body的内容可以滚动，也不会跟随body滚动 */
.dialog-mask {
	position: fixed; z-index: 1000; /****** fixed:使用相对于body标签的绝对定位 */
	top: 0; right: 0; left: 0; bottom: 0; /** 使遮罩层占满整个body标签 */
	background: rgba(0, 0, 0, 0.6); /** 透明度0.6，越高越看不清底色 */
}

/** 信息窗体 */
.dialog {
	position: fixed; z-index: 1001; /******** 位于info-dialog-mask之上 */
	width: 80%; max-width: 450px; /********** 宽度占父元素的80%，但不超过450px */
	transform: translate(-50%, -50%); /*** 移动元素，向左移动自身宽度的50%，向上移动50% */
	-webkit-transform: translate(-50%, -50%); /******** 兼容webkit内核 */
	background-color: #FFFFFF; text-align: center; border-radius: 3px;
	overflow: hidden; top: 50%; left: 50%;
}

/** 信息窗体标题 */
.dialog-head {
	padding-left: 24px; padding-right: 24px; text-align: left;
	font-size: 18px;
}

/** 信息窗体主体 */
.dialog-body {
	padding-left: 24px; padding-right: 24px; min-height: 40px;
	line-height: 1.3; word-wrap: break-word; word-break: break-all;
	color: #999999;
}

.dialog-body:first-child {
	padding: 2.0em 20px 1.7em; color: #353535;
}

/** 信息窗体底部,整行按钮 */
.dialog-fl-foot {
	position: relative; /**************************** 目测这条属性没用 */
	display: flex; /****************************** 要求该元素的子元素使用弹性布局 */
	display: -webkit-box; display: -webkit-flex; /** 为了兼容 */
	line-height: 48px; font-size: 18px;
}

/** 信息窗体整行按钮 */
.dialog-fl-btn {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /** 禁用ios系统的点击元素变色效果 */
	-webkit-box-flex: 1; -webkit-flex: 1; flex: 1; /** 弹性布局：占满整个父元素 */
	display: block; text-decoration: none; position: relative;
	color: rgb(255, 255, 255); background-color: rgb(65, 65, 65);
}

/** 信息窗体整行按钮点击样式 */
.dialog-fl-btn:active {
	background-color: rgb(150, 150, 150);
}

/** 信息窗体底部,非整行按钮 */
.dialog-foot {
	position: relative; /**************************** 目测这条属性没用 */
	display: block; line-height: 48px; text-align: right;
	padding-left: 24px; padding-right: 24px;
}

/** 信息窗体小按钮 */
.dialog-btn {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /** 禁用ios系统的点击元素变色效果 */
	-webkit-box-flex: 1; -webkit-flex: 1; flex: 1; /** 弹性布局：占满整个父元素 */
	display: inline-block; text-decoration: none; position: relative;
	padding: 0 0.8em;
}

.dialog-btn .close {
	color: rgb(153, 153, 153);
}

/** 信息窗体小按钮点击样式 */
.dialog-btn:active {
	background-color: rgba(0, 0, 0, 0.06);
}

/** 当浏览器宽度大于1000px时，触发以下样式 */
@media screen and (min-width: 1000px) {
	.dialog {
		width: 40%;
	}
}
/***************************diaolog end*****************************/
/** 提示框遮罩层 */
.info-mask {
	position: fixed; z-index: 9900; /**************** 提示框一定要保证在最高层 */
	top: 0; right: 0; left: 0; bottom: 0; /** 使遮罩层占满整个body标签 */
	background: rgba(0, 0, 0, 0.6);
}

/** 提示框窗体 */
.info {
	position: fixed; z-index: 9910; /******** 位于info-dialog-mask之上 */
	width: 80%; max-width: 300px; /********** 宽度占父元素的80%，但不超过300px */
	transform: translate(-50%, -50%); /*** 移动元素，向左移动自身宽度的50%，向上移动50% */
	-webkit-transform: translate(-50%, -50%); /******** 兼容webkit内核 */
	background-color: #FFFFFF; text-align: center; border-radius: 3px;
	overflow: hidden; top: 50%; left: 50%;
}

/** 当浏览器宽度大于1000px时，触发以下样式 */
@media screen and (min-width: 1000px) {
	.info {
		width: 30%;
	}
}

/** 信息窗体主体 */
.info-body {
	padding: 0 1.6em 0.8em; min-height: 40px; line-height: 1.3;
	word-wrap: break-word; word-break: break-all; color: #999999;
}

.info-body:first-child {
	padding: 2.0em 20px 1.7em; color: #353535;
}
/*******************************info end********************************/