<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<error-page>
		<error-code>404</error-code>
		<location>/static/html/404.html</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/static/html/405.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/static/html/500.html</location>
	</error-page>
	<filter>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>com.geelun.framework.web.security.SecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>AccessFilter</filter-name>
		<filter-class>com.geelun.framework.web.security.AccessFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AccessFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/application*.xml</param-value>
	</context-param>
	<servlet>
		<servlet-name>ValidateCode</servlet-name>
		<servlet-class>com.geelun.framework.web.servlet.ValidateCodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidateCode</servlet-name>
		<url-pattern>/validateCode</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/springmvc-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>